{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
     <div class="row">
    {% comment %} left side bar {% endcomment %}
    {% comment %} lode side here {% endcomment %}
     {% include "dashboard/sidebar.html" %} 
    <div class="col-md-9">
        <h2>Edit Blog</h2>
        <form action="" method="POST" style="width:500px" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    </div>
 </div>  

{% endblock content %}