{% extends "base.html" %}

{% block content %}

<div class="row">
    {% comment %} left side bar {% endcomment %}
    {% comment %} lode side here {% endcomment %}
     {% include "dashboard/sidebar.html" %} 
  
    {% comment %} right side content {% endcomment %}
    <div class="col-md-9">
      {% if perms.auth.view_user %}

    <a href="{% url 'add_users' %}" class="btn btn-dark text-light float-right mb-2">Add New</a>
<div class="card shadow-sm border-0">
  <div class="card-header bg-white">
      <h4 class="mb-0">All Users</h4>
  </div>

  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-hover table-borderless align-middle mb-0">
        <thead class="bg-light">
          <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Active</th>
            <th>Staff</th>
            <th>Superuser</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{forloop.counter}}}</td>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>
                {% if user.is_active %}
                <span class="badge badge-warning">Yes</span>
                {% else %}
                <span class="badge badge-secondary">No</span>
                {% endif %}
                </td>
                <td>
                {% if user.is_staff %}
                <span class="badge badge-warning">Yes</span>
                {% else %}
                <span class="badge badge-secondary">No</span>
                {% endif %}
                </td>
                <td>
                {% if user.is_superuser %}
                <span class="badge badge-warning">Yes</span>
                {% else %}
                <span class="badge badge-secondary">No</span>
                {% endif %}
                </td>
                <td class="text-center">
                <a href="{% url 'edit_users' user.id %}"  
                class="btn btn-light btn-sm border rounded mr-1">
                <i class="fa fa-edit text-success"></i>
                </a>
                <a href="{% url 'delete_users' user.id %}"
                 class="btn btn-light btn-sm border rounded">
                <i class="fa fa-trash text-danger"></i>
                </a>
               </td>
            </tr>
            {% endfor %}
        </tbody>

      </table>
      {% else %}
      <h5> You are not alllowed to view this page </h5>
      {% endif %}
    </div>
  </div>
</div>


    </div>
 </div>  

{% endblock content %}